@font-face {
  font-family: 'Antonellie';
  src: url('/font/Antonellie Calligraphy Demo.ttf') format('truetype');
}


.Biographie {
  background: linear-gradient(to bottom, #FFFFFF, #F4CA96, #7E83E7);
  min-height: 100vh;
  padding: 100px 5% 60px;
  font-family: 'Anek Bangla', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Biographie */
.title {
  font-family: 'Antonellie', cursive;
  font-size: 3rem;
  color: #111111e8;
  margin-bottom: 30px;
  text-align: left;
  line-height: 1;
 
}


.bio-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  gap: 60px;
}

/* Texte */
.bio-text {
  flex: 1;
  text-align: left;
  max-width: 550px;
  font-size: 16px;
  color: #2c2c2c;
}

.bio-text h2,
.bio-text h3,
.bio-text h4,
.bio-text h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #000;
  font-weight: bold;
}

.bio-text p {
  margin-bottom: 16px;
  line-height: 1.7;
  font-size: 0.95rem;
  color: #333;
}

/* Bouton */
.bio-text button {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #1f195c;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bio-text button:hover {
  background-color: #a04038;
}

/* Image capsule */
.bio-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.bio-image img {
  width: 100%;
  height: auto;
  border-radius: 200px;
  object-fit: cover;
}


/* Adaptation pour mobile */
@media (max-width: 768px) {
  .bio-container {
    flex-direction: column;
    text-align: center;
  }

  .bio-text, .bio-image {
    flex: none;
    width: 100%;
  }

  .bio-image {
    justify-content: center;
    margin-top: 20px;
  }
}

  
  
   
  

 
 