.footer {
  background: linear-gradient(to bottom, #e8dbff, #d9c6ff);
  padding: 2rem 1rem;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Section de gauche avec logo et contact */
.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex:1;
}

.logoLink {
  display: block;
}

.logoImage {
  height: auto;
  width: 200px;
}

.contactLink {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.contactLink:hover {
  color: #333;
  text-decoration: underline;
}

/* Section centrale avec mentions légales */
.centerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 2;
  margin: 0 1rem;
}

.legalLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.legalLink {
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.legalLink:hover {
  color: #333;
  text-decoration: underline;
}

.copyright, .disclaimer {
  font-size: 0.8rem;
  color: #333;
  margin-top: 0.5rem;
}

/* Section de droite avec icône Instagram */
.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  flex: 1;
 
}

.blogLink {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.blogLink:hover {
  color: #333;
  text-decoration: underline;
}
.socialLink {
  color: #000;
  transition: color 0.3s;
}

.socialLink:hover {
  color: #333;
}

.instagramIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 171px;
}

/* Styles responsives */
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .leftSection {
    align-items: center;
  }
  
  .rightSection {
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footerContent {
    padding: 0 2rem;
  }
}