/* le suffixe module permet de d'isoler les styles d'un composant 
utiliser en priorité des classes CSS
 */

 .site-header{
    background-color: rgb(156, 76, 76);
    padding: 1rem;
 }
 .site-logo {
   width: 3rem;

 }
 .video-container {
  width: 100vh;
  height: 400px;
}